.about{
    padding: 200px 120px 200px 120px;
    text-align: center;
    margin: 15px auto;
    background-color: #eee;
}

.about .about-content{
    border-radius: 10px;
}

.about-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about h5{
    font-size: 20px;
    color: #333;
    line-height: 30px;
    font-weight: lighter;
}

.about-img img{
    max-height: 15em;
    width: auto;
    display: block;
    margin: 0 auto;
    /* border: #000000 3px solid; */
    border-radius: 120px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.about-text {
    padding: 0 2em;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .about-wrapper {
        flex-direction: column;
        padding: 0 1em;
    }
  
    .about-text {
        padding-top: 1em;
    }

    .about-text h5{
        font-size: 18px;
    }

    .about-img img{
        max-height: 12em;
    }
}