.about{
    padding: 27.5vh 16.5vh;
    text-align: center;
    margin: 2.06vh auto;
    background-color: #eee;
}

.about .container{
    border-radius: 1.4vh;
}

.about-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about h5{
    font-size: 2.75vh;
    color: #333;
    line-height: 4.12vh;
    font-weight: lighter;
}

.about-img img{
    max-height: 24vh;
    width: auto;
    display: block;
    margin: 0 auto;
    border-radius: 16.5vh;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.about-text {
    padding: 14vh 3.2vh;
    text-align: left;
}

@media screen and (max-width: 1024px) {

    .about {
        padding: 14vh 2.75vh 14vh 2.75vh;
    }
    
    .container {
        margin: auto;
    }

    .about-wrapper {
        flex-direction: column;
        padding: 0 auto;
    }
  
    .about-text {
        padding: 1.6vh 0 0 0;
    }

    .about-text h5{
        font-size: 2.5vh;
    }

    .about-img img{
        max-height: 19.2vh;
        margin-top: 1.6vh;
    }
}