.certifications {
    background: #232323;
    padding: 200px 120px;
    margin: 0px auto 15px auto;
    min-height: 75vh;
}

.certifications-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.certifications-wrapper {
    display: grid;
    margin: 10vh auto;
    padding: 0px 100px;
    align-items: center;
}

.certifications-wrapper h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
    font-style: italic;
    text-align: center;
}

.certifications-wrapper p {
    font-size: 15px;
    font-weight: lighter;
}

.certifications-wrapper li {
    font-size: 15px;
    font-weight: lighter;
}

.certifications-content {
    margin: 30px;
}


@media screen and (max-width: 768px) {
    .certifications {
        padding: 100px 10px;
    }

    .certifications-wrapper {
        padding: 0 10px;
    }
}
