.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-image: url("../img/background.jpg");
    background-size: cover;
    animation: fadeIn 1s;
}

.main-splash{
    position: absolute;
    top: 45%;
    text-align: center;
}

.main-splash h1{
    font-size: 4rem;
    color: #eee;
    font-weight: bold;
    text-shadow: 2px 2px 4px #333;
    font-style: italic;
}

.main-splash h5{
    font-size: 1.5rem;
    color: #eee;
    font-weight: lighter;
    text-shadow: 2px 2px 4px #333;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@media screen and (max-width: 768px) {
    .main-splash h1{
        flex-direction: column;
    }
    .main-splash h5{
        flex-direction: column;
    }
}