.projects {
    background: #141414;
    padding: 200px 120px;
    margin: 0px auto 15px auto;
    min-height: 75vh;
}

.projects-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.projects-wrapper {
    display: grid;
    padding: 0px 100px;
    align-items: center;
}

.projects-card{
    margin: 5vh auto;
}

.projects-content-text{
    margin: 30px;
}

.projects-content-text p {
    font-size: 15px;
    font-weight: lighter;
}

.projects-content-text h5 {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
    font-style: italic;
    text-align: center;
}

.projects-card img {
    padding: 5vh 5vh 1vh 5vh;
}

@media screen and (max-width: 768px) {
    .projects {
        padding: 100px 10px;
    }

    .projects-wrapper {
        padding: 0 10px;
    }

    .projects-card img {
        padding: 2.5vh 2.5vh 0vh 2.5vh;
    }
}
