.projects {
    background: #141414;
    padding: 27.5vh 16.5vh;
    margin: 0 auto 2.06vh auto;
    min-height: 75vh;
}

.projects-container {
    width: 100%;
    max-width: 131.87vh;
    margin: 0 auto;
}

.projects-wrapper {
    display: grid;
    padding: 0px 14vh;
    align-items: center;
}

.projects-card{
    margin: 5vh auto;
}

.projects-content-text{
    margin: 4.12vh;
}

.projects-content-text p {
    font-size: 2.06vh;
    font-weight: lighter;
}

.projects-content-text h5 {
    font-size: 2.47vh;
    font-weight: bold;
    margin: 2.06vh 0;
    font-style: italic;
    text-align: center;
}

.projects-card img {
    padding: 5vh 5vh 1vh 5vh;
}

@media screen and (max-width: 768px) {
    .projects {
        padding: 14vh 1.4vh;
    }

    .projects-wrapper {
        padding: 0 1.4vh;
    }

    .projects-card img {
        padding: 2.5vh 2.5vh 0vh 2.5vh;
    }
}
