.skills {
    background: #fff;
    padding: 200px 120px;
    margin: 15px auto;
    min-height: 75vh;
}

.skills-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.skills-wrapper {
    display: grid;
    padding: 0px 100px;
    align-items: center;
}

.skills-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-row > * {
    flex: 1 1 5em;
  }

.skills-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
    margin: 0 4em;
}

.skills-item h5 {
    font-size: 15px;
    font-weight: thin;
    margin-bottom: 10px;
}

.skills-item img {
    height: 13vh;
    width: auto;
    margin: 0 auto;
    padding-bottom: 12px;
}


@media screen and (max-width: 1075px) {
    .skills {
        padding: 100px 10px;
    }

    .skills-wrapper {
        padding: 0 10px;
    }

    .skills-item {
        margin: 0 0.25em;
    }

    .skills-item img {
        height: 8vh;
    }
}