.iridescence-container {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.iridescence-container canvas {
  display: block;
  width: 100%;
  height: 100%;
  animation: fadeInCanvas 0.6s ease-in;
}

@keyframes fadeInCanvas {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
